.contact-way {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.contact-way-item {
	width: 300px;
	text-align: left;
}
.contact-chat {
	border-radius: 10px;
	width: 50%;
	max-width: 150px;
}
.product-origin {
	color: #f66;
}
.product-type {
	color: #09f;
}